package main

import (
	"fmt"
	"os"

	"{{ .importPath }}/app"
)

func main() {
	if err := app.Run(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

// Run starts the grapiserver.
func Run(args []string) error {
	return app.Run()
}
