package {{.Go.Package }}

import (
	"context"

	"github.com/grpc-ecosystem/grpc-gateway/runtime"
	"google.golang.org/grpc"

	{{.PbGo.PackageName}} "{{ .PbGo.PackagePath }}"
)

// RegisterWithServer implements grapiserver.Server.RegisterWithServer.
func (s *{{.Go.StructName}}) RegisterWithServer(grpcSvr *grpc.Server) {
	{{.PbGo.PackageName}}.Register{{.Go.ServerName}}(grpcSvr, s)
}

// RegisterWithHandler implements grapiserver.Server.RegisterWithHandler.
func (s *{{.Go.StructName}}) RegisterWithHandler(ctx context.Context, mux *runtime.ServeMux, conn *grpc.ClientConn) error {
	return {{.PbGo.PackageName}}.Register{{.ServiceName}}ServiceHandler(ctx, mux, conn)
}
