syntax = "proto3";
option go_package = "{{ .PbGo.PackageName }}";
package {{ .Proto.Package }};
{{range .Proto.Imports}}
import "{{.}}";
{{- end}}

service {{ .ServiceName }}Service {	
{{- range .Methods}}
  rpc {{.Method}} ({{.RequestProto}}) returns ({{.ResponseProto}}) {
    option (google.api.http) = {
      {{.HTTP.Method}}: "/{{.HTTP.Path}}"
      {{- if .HTTP.Body}}
      body: "{{.HTTP.Body}}"
      {{- end}}
    };
  }
{{- end}}
}
{{range .Proto.Messages}}
message {{.Name}} {
  {{- range $i, $f := .Fields}}
  {{- if .Repeated}}
  repeated {{$f.Type}} {{$f.Name}} = {{$i}};
  {{- else}}
  {{$f.Type}} {{$f.Name}} = {{$i}};
  {{- end}}
  {{- end}}
}
{{end -}}
