package {{ .packageName }}

import (
	"context"

	"google.golang.org/grpc"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"

  {{ .pbgoPackageName }} "{{ .importPath }}/{{ .pbgoPackagePath }}"
)

var (
	// Register{{ .serviceName }}ServiceHandler is a function to register card service handler to gRPC Gateway's mux.
	Register{{ .serviceName }}ServiceHandler = {{ .pbgoPackageName }}.Register{{ .serviceName }}ServiceHandler
)

// Register{{ .serviceName }}ServiceServerFactory creates a function to register card service server impl to grpc.Server.
func Register{{ .serviceName }}ServiceServerFactory() func(s *grpc.Server) {
	return func(s *grpc.Server) {
		{{ .pbgoPackageName }}.Register{{ .serviceName }}ServiceServer(s, New())
	}
}

// New creates a new {{ .serviceName }}ServiceServer instance.
func New() {{ .pbgoPackageName }}.{{ .serviceName }}ServiceServer {
	return &{{ .localServiceName }}ServiceServerImpl{}
}

type {{ .localServiceName }}ServiceServerImpl struct {
}

func (s *{{ .localServiceName }}ServiceServerImpl) Get{{ .serviceName }}(ctx context.Context, req *{{ .pbgoPackageName }}.Get{{ .serviceName }}Request) (*{{ .pbgoPackageName }}.Get{{ .serviceName }}Response, error) {
	// TODO: Not yet implemented.
	return nil, status.Error(codes.Unimplemented, "TODO: You should implement it!")
}
