syntax = "proto3";
option go_package = "{{ .pbgoPackageName }}";
package {{ .protoPackage }};

import "google/api/annotations.proto";

service {{ .serviceName }}Service {	
  rpc Get{{ .serviceName }} (Get{{ .serviceName }}Request) returns (Get{{ .serviceName }}Response) {
    option (google.api.http) = {
      get:  "/{{ .path }}"
    };
  }
}

message Get{{ .serviceName }}Request {
}

message Get{{ .serviceName }}Response {
}
